{% extends 'base.html.twig' %}

{% block body %}
<div class="flex h-screen">
        {% include 'components/sidebar.html.twig' %}
        <div class="flex flex-col flex-grow px-6 pt-6">
            {% include 'components/topbar.html.twig' %}
            <main class="flex-grow overflow-hidden py-6">
                <div class="flex bg-white h-full rounded-2xl border">
    <h1>Liste des Projets</h1>
    <ul>
        {% for projet in projets %}
           <li> {{ projet.nomProjet }} </li>{# Assure-toi que "nom_projet" est la bonne propriété #}
        {% else %}
          <li>  Aucun projet trouvé.</li>
        {% endfor %}
    </ul>
    </div>
            </main>
    </div>
    </div>
{% endblock %}

