<div class="flex justify-between items-center w-full px-6 py-3 bg-white rounded-2xl border">
    <div class="flex items-center relative">
    <!-- Bouton pour afficher le projet actuel -->
    <button type="button" class="inline-flex justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500">
        Bonjour {{ app.user ? app.user.email : 'Utilisateur' }}
    </button>
</div>


    <div class="flex items-center">
        <a href="#" class="mr-4 text-gray-600 hover:text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
        </a>

        <div class="flex items-center">
            <span class="mr-2 text-sm text-gray-600">
                <a href="{{ path('profile') }}" class="text-gray-600 hover:text-gray-800">Mon Compte</a>
            </span>
            <div class="w-8 h-8 bg-yellow-300 border-black border rounded-full"></div>
        </div>
    </div>
</div>

