{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex h-screen">
        {% include 'components/sidebar.html.twig' %}
        <div class="flex flex-col flex-grow px-6 pt-6">
            {% include 'components/topbar.html.twig' %}
            <main class="flex-grow overflow-hidden py-6">
                <div class="flex bg-white h-full rounded-2xl border">
                    <!-- Ajoute ici du contenu comme des tâches, tableaux, etc. -->
                    
                </div>
            </main>
        </div>
    </div>

    <!-- Floating Button -->
    <button id="openModalBtn" class="fixed bottom-8 right-8 bg-primary border border-black text-black font-medium py-2.5 px-5 rounded-full shadow-lg">
        New Task
    </button>
{% endblock %}
